.request-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 0;
  }
  
  .request-info h2 {
    font-size: 28px;
    margin-bottom: 10px;
  }
  
  .request-info h3 {
    font-size: 22px;
    margin-bottom: 10px;
  }
  
  .request-info p {
    font-size: 18px;
  }
  
  .request-info b {
    font-weight: bold;
  }
  
  .request-info .map {
    height: 300px;
    width: 100%;
    margin-bottom: 20px;
  }
  
  .request-info .edit {
    margin-left: 10px;
    cursor: pointer;
  }
  input#offer {
    margin-bottom: 15px;
  }
  .request-info .comments-offers {
    /* display: flex; */
    justify-content: center;
    margin-top: 20px;
  }
  
  .request-info .comments-offers a {
    padding-bottom: 10px;
    font-size: 20px;
    margin-right: 5px;
    text-decoration: none;
    color: #333;
  }
  div.eachOffer {
    display: flex;
  }
  div.eachOffer > p {
    margin-right: 20px;
  }
  
  .request-info .comments-offers a.active {
    font-weight: bold;
  }
  
  .request-info .comments-offers a:hover {
    color: #8A2BE2;
  }

  a.accept {
    color: green !important;
    font-size: 15px !important;
    font-weight: bold;
  }
  a.accept:hover {
    text-decoration: underline;
    text-decoration-thickness: 15%;
  }
  a.decline {
    color: red !important;
    font-size: 15px !important;
    font-weight: bold;
  }
  a.decline:hover {
    text-decoration: underline;
    text-decoration-thickness: 15%;

  }
