* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    --brand-color: #8A2BE2;
    --btn-yes: rgb(255, 0, 85);
    --box-color: rgb(210, 210, 210);
    --box-style: 2px solid rgb(210, 210, 210);
    --standard-margin-left: 15px

}
.signupTitle {
    text-align: center;
    margin: 15px auto;
}
.signup {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    margin: 10px auto;
    border: var(--box-style);
    border-radius: 12px;
}
input {
    width: 90%;
}
.signupBtn {
    width: 90%;
    margin: 20px auto;
    color: aquamarine;
    transition-duration: 0.4s;
    border: 1px solid var(--btn-yes);
    border-radius: 12px;
    background-color: white;
}
.error {
    margin-bottom: 0;
    margin-top: 10px;
    text-align: center;
}
.signupBtn:hover {
    background-color: rgb(38, 255, 0); /* Green */
    color: white;
    border: none;
    border-radius: 12px;
} 

label {
    margin-top: 10px;
    margin-left: 30px;
    display: flex;
    justify-content:flex-start;
    width: 100%;
}

.header {
    background-color: white;
    color: var(--brand-color);
    display: flex;
    /* justify-content: space-between; */
    padding: 0 1rem;
    align-items: stretch;
    gap: 2rem;
    height: 70px;
    border-bottom: var(--box-style);
}
#mobNavLinks {
    font-size: larger;
}
.filler {
    display: none;
}

.logo {
    font-size: 1rem;
    display: flex;
    align-items: center;
}

.header ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    gap: 1rem;
}

.header a {
    color: inherit;
    text-decoration: none;
    height: 100%;
    display: flex;
    align-items: center;
    padding: .25rem;
    justify-content: center;

}
a {
    text-decoration: none;
    color: white;
}
a:hover {
    color: black;
}
button {
    border-radius: 12px;
    width: 300px;
    background-color: #8A2BE2;
    border: none;
    color: white;
    cursor: pointer;
    display: flex;
    justify-content: center;
}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    gap: 1rem;
}
.NavBar {
    display: flex;
    align-items: center;
    margin: 0 auto;
}
a {
    color: var(--brand-color);
}
button a {
    color: white;
}
.step-number {
    margin-left: var(--standard-margin-left);
}
#mobButton {
    display: none;
}
h3 {
    margin-left: var(--standard-margin-left);
    font-size: medium;
    margin-top: 15px;
}
#deskButton {
    background-color: var(--brand-color);
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    /* display: inline-block;
    font-size: 10px; */
    height: 30px;
    width: 200px;
    border-radius: 12px;
    cursor: pointer;
    /* position: absolute; */
    right: 0;
    display: flex;
    margin: auto 0;
    justify-content: center;

}
.MobileNavigation {
    display: none;
}
/* My Requests */
h2 {
    text-align: center;
    margin-top: 15px;
}
#group-requests {
    display: flex;
    justify-content: center;
}
#single-request {
    margin: 0 auto;
    border: var(--box-style);
}
li a {
    color: #8A2BE2;
}
.NavButtons {
    margin: auto 0;
}
.red {
    color: red;
}
.green {
    color: greenyellow;
}
.grey {
    color: rgba(211, 211, 211, 0.576);
}
.blue {
    color: aqua;
}

@media (max-width: 1000px){
    .Navigation {
        display: none;
    }
    .MobileNavigation {
        display: flex;
    }
    #mobButton {
        display: flex;
        border-radius: 70%;
        background-color: var(--brand-color);
        color: white;
        border: none;
        padding: 5px;
        font-size: 31px;
        height: 40px;
        width: 40px;
        /* box-shadow: 0 2px 4px darkslategray; */
        cursor: pointer;
        transition: all 0.2s ease;
        justify-content: center;
        /* margin-top: 1.25%; */
        align-items: center;
    }
    #deskButton {
        display: none;

    }
    .MobileNavigation .Hamburger {
        position: absolute;
        left: 5%;
        cursor: pointer;
        top: 1.25%;
        /* margin-top: 20px; */
    }

    #mobNavLinks {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 70px;
        left: 0;
        width: 100%;
        background-color: var(--brand-color);
        /* border-top: 2px solid black; */
        align-items: flex-start;
        z-index: 99;

    }
    .nav ul li {
        padding-right: 15%;
        color: white;
    }
    li {
        color: white;
        padding-left: 5%;

    }
    .NavBar {
        opacity: 1;
        margin: 0;
    }

    .NavBar a:hover {
        border-bottom: none;
        color: black;
    }
    .logo {
        /* position: absolute;
        left: 40%; */
        width: fit-content;
        margin: auto;
    }
    .header {
        background-color: white;
        color: var(--brand-color);
        display: flex;
        /* justify-content: space-between; */
        padding: 0 1rem;
        align-items: center;
        gap: 0;
        height: 70px;
        /* width: 100%; */
    }
    a {
        color: var(--brand-color);
    }
    button {
        border-radius: 12px;
        width: 90%;
        background-color: var(--brand-color);
        border: none;
        color: white;
        cursor: pointer;
        display: flex;
        justify-content: center;
        margin: 0 auto;
    }
    /* My Requests */
    h2 {
        text-align: left;
        margin-top: 15px;
        margin-left: 15px;
    }
    #group-requests {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    #single-request {
        margin: 0 auto;
        margin-bottom: 10px;
        border: var(--box-style);
        width: 90%;
    }
    .request-offerToggle {
        display: flex;
        margin-bottom: 15px;
        margin-left: 0;
    }
    .logoLink {
        display: block;
    }
    .toggle {
        color: black;
    }

    .request-offerLinks {
        margin-left: 0;
    }
    .titleDate {
        display: flex;
        justify-content: space-between;
        margin-top: 10px;
    }
    .titleDate, .status, .price, .bids {
        margin-left: 10px;
        margin-right: 10px;
    }
    .price, .bids {
        display: flex;
        margin-left: 50px;
        color: rgb(210, 210, 210);
    }
    .value {
        margin-left: 10px;
        color: black;
    }
    .value.B {
        margin-left: 16px;
    }
    .value.B2 {
        margin-left: 24px;
    }
    .filler {
        display: flex;
        color: white;
        width: 40px;
    }
    .browse { 
        width: 90%;
        border: var(--box-style);
        display: flex;
        flex-direction: column;
        margin: 5px auto;
    }
    .signup {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 300px;
        margin: 10px auto;
        border: none;
        border-radius: 0px;
    }
    input {
        width: 100%;
    }
    .signupBtn {
        width: 100%;
    }
    label {
        margin-left: 0px;
    }

}



