* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    --brand-color: #651da8;
    --btn-yes: rgb(255, 0, 85);
    --box-color: rgb(210, 210, 210);
    --box-style: 2px solid rgb(210, 210, 210);
    --standard-margin-left: 15px

}
p {
    margin-bottom: 0.5rem;
}
.boxedLinks {
    font-weight: bold;
}
.signupTitle {
    text-align: center;
    margin: 15px auto;
}
.signup {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    margin: 10px auto;
    border: var(--box-style);
    border-radius: 12px;
    background-color: rgb(239, 239, 236);
}
input {
    width: 90%;
}
.signupBtn, .loginBtn {
    width: 90%;
    margin: 20px auto;
    transition-duration: 0.4s;
    border: 1px solid var(--brand-color);
    border-radius: 12px;
}
/* for future use scss and start building set style blocks. the two buttons below use the same style */
.signupBtn {
    color: white;
    background-color: var(--brand-color);
}
.loginBtn {
    color: var(--brand-color);
    background-color: white;
}
.loginBtn:hover {
    background-color: var(--brand-color); /* Green */
    color: white;
    border: var(--brand-color);
}
.error {
    margin-bottom: 0;
    margin-top: 10px;
    text-align: center;
}
 
.loginLabel {
     margin-left: 0;
}
.loginMsg {
    margin-bottom: 0;
} 

label {
    margin-top: 10px;
    margin-left: 30px;
    display: flex;
    justify-content:flex-start;
    width: 100%;
}

.header {
    background-color: white;
    color: var(--brand-color);
    display: flex;
    /* justify-content: space-between; */
    padding: 0 1rem;
    align-items: stretch;
    gap: 2rem;
    height: 70px;
    border-bottom: var(--box-style);
}
#mobNavLinks {
    font-size: larger;
}
.filler {
    display: none;
}

.logo {
    font-size: 1rem;
    display: flex;
    align-items: center;
}

.header ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    gap: 1rem;
}

.header a {
    color: inherit;
    text-decoration: none;
    height: 100%;
    display: flex;
    align-items: center;
    padding: .25rem;
    justify-content: center;

}
a {
    text-decoration: none;
    color: white;
}
a:hover {
    color: black;
}
button {
    border-radius: 12px;
    width: 300px;
    background-color: var(--brand-color);
    border: none;
    color: white;
    cursor: pointer;
    display: flex;
    justify-content: center;
}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    gap: 1rem;
}
.NavBar {
    display: flex;
    align-items: center;
    margin: 0 auto;
}
a {
    color: var(--brand-color);
}
button a {
    color: white;
}
.step-number {
    margin-left: 5px;
}
#mobButton {
    display: none;
}
h3 {
    margin-left: 5px;
    font-size: large;
    margin-top: 15px;
}
#deskButton {
    background-color: var(--brand-color);
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    height: 27px;
    width: 175px;
    border-radius: 12px;
    cursor: pointer;
    right: 0;
    display: flex;
    margin: auto 0;
    justify-content: center;

}
.MobileNavigation {
    display: none;
}
/* My Requests */
h2 {
    text-align: center;
    margin-top: 15px;
}
#group-requests {
    display: flex;
    justify-content: center;
}

li a {
    color: var(--brand-color);
}
.NavButtons {
    margin: auto 0;
}
.red {
    color: red;
}
.green {
    color: rgb(46, 214, 17);
}
.grey {
    color: rgba(211, 211, 211, 0.576);
}
.blue {
    color: rgb(13, 139, 249);
}

div.newRequestForm {
    width: 50%;
    margin: 0 auto;
}
label.newRequest {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    margin-top: 15px;
}
h2.newRequestTitle {
    font-weight: bold;
}
.newRequestInput {
    border: 2px solid var(--brand-color);
    width: 100%;
}
.Btns {
    width: 100%;
}
.msg-request {
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}


/* My Requests and My Offers */

/* #group-requests {
    display: flex;
    flex-direction: column;
    justify-content: center;
} */
#single-request {
    margin: 0 auto;
    margin-bottom: 10px;
    border: var(--box-style);
    width: 200px;
}
.request-offerToggle {
    display: flex;
    margin-bottom: 15px;
    justify-content: center;
}
.toggle {
    color: black;
}

.request-offerLinks {
    margin-left: 0;
}
.titleDate {
    margin-top: 10px;
}
.titleDate, .status, .price, .bids {
    margin-left: 10px;
    margin-right: 10px;
}
svg {
    margin-right: 10px;
}
.price, .bids {
    display: flex;
    /* margin-left: 50px; */
    color: rgba(156, 154, 154, 0.649);
}
.value {
    margin-left: 10px;
    color: black;
}
.value.B {
    margin-left: 16px;
}
.value.B2 {
    margin-left: 25px;
}

/* Homepage */

.requests {
    display: flex;
    flex-wrap: wrap;
    width: 95%;
    margin: 10px auto;
    justify-content: space-around;
}
.browse { 
    width: fit-content;
    border: var(--box-style);
    display: flex;
    flex-direction: column;
    margin: 5px 5px 5px 5px;
    padding: 5px;
}
.post-steps {
    margin: 5px auto;
    width: 20%;
    padding: 10px;
    border: 2px solid var(--box-color);
}
button {
    margin: 10px auto;
}
/* .allUserRequests {
    width: 90%;
    margin: 10px auto;
    border: var(--box-style);
    padding-bottom: 10px;
    border-radius: 12px;
    background-color: var(--brand-color);
}
.browse {
    background-color: white;
} */
.homepageBtn {
    margin-bottom: 30px;
}

.textareaMessages {
    width: 100%;
    height: 150px;
    margin: 0 auto;
}
.messageBtn {
    width: 100%;
    background-color: blueviolet;
    color: white;
    border: none;
    border-radius: 12px;
    margin: 10px auto;
}
@media (max-width: 736px){
    .requests {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .post-steps {
        width: 95%;
        margin: 5px auto;
        padding: 0;
        border: none;
    }
    .Navigation {
        display: none;
    }
    .MobileNavigation {
        display: flex;
    }
    #mobButton {
        display: flex;
        border-radius: 70%;
        background-color: var(--brand-color);
        color: white;
        border: none;
        padding: 5px;
        font-size: 31px;
        height: 40px;
        width: 40px;
        /* box-shadow: 0 2px 4px darkslategray; */
        cursor: pointer;
        transition: all 0.2s ease;
        justify-content: center;
        /* margin-top: 1.25%; */
        align-items: center;
    }
    #deskButton {
        display: none;

    }
    .MobileNavigation .Hamburger {
        position: absolute;
        left: 5%;
        cursor: pointer;
        top: 1.25%;
        /* margin-top: 20px; */
    }

    #mobNavLinks {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 70px;
        left: 0;
        width: 100%;
        background-color: var(--brand-color);
        /* border-top: 2px solid black; */
        align-items: flex-start;
        z-index: 99;

    }
    .nav ul li {
        padding-right: 15%;
        color: white;
    }
    li {
        color: white;
        padding-left: 5%;

    }
    .NavBar {
        opacity: 1;
        margin: 0;
    }

    .NavBar a:hover {
        border-bottom: none;
        color: black;
    }
    .logo {
        /* position: absolute;
        left: 40%; */
        width: fit-content;
        margin: auto;
    }
    .header {
        background-color: white;
        color: var(--brand-color);
        display: flex;
        /* justify-content: space-between; */
        padding: 0 1rem;
        align-items: center;
        gap: 0;
        height: 70px;
        /* width: 100%; */
    }
    a {
        color: var(--brand-color);
    }
    button {
        border-radius: 12px;
        width: 90%;
        background-color: var(--brand-color);
        border: none;
        color: white;
        cursor: pointer;
        display: flex;
        justify-content: center;
        margin: 0 auto;
    }
    /* My Requests */
    h2 {
        text-align: left;
        margin-top: 15px;
        margin-left: 15px;
        font-weight: bold;
    }
    #group-requests {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    #single-request {
        margin: 0 auto;
        margin-bottom: 10px;
        border: var(--box-style);
        width: 90%;
    }
    .request-offerToggle {
        display: flex;
        margin-bottom: 15px;
        margin-left: 0;
        justify-content: flex-start;
    }
    .logoLink {
        display: block;
    }
    .toggle {
        color: black;
    }

    .request-offerLinks {
        margin-left: 0;
    }
    .titleDate {
        display: flex;
        justify-content: space-between;
        margin-top: 10px;
    }
    .titleDate, .status, .price, .bids {
        margin-left: 10px;
        margin-right: 10px;
    }
    svg {
        margin-right: 10px;
    }
    .price, .bids {
        display: flex;
        /* margin-left: 50px; */
        color: rgba(156, 154, 154, 0.649);
    }
    .value {
        margin-left: 10px;
        color: black;
    }
    .value.B {
        margin-left: 16px;
    }
    .value.B2 {
        margin-left: 25px;
    }
    .filler {
        display: flex;
        color: white;
        width: 40px;
    }
    .requests {
        display: flex;
        flex-wrap: wrap;
        width: 95%;
        margin: 10px auto;
        justify-content: space-around;
    }
    .browse { 
        width: 100%;
        border: var(--box-style);
        display: flex;
        flex-direction: column;
        margin: 5px auto;
        padding: 0;
    }
    .signup {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 300px;
        margin: 10px auto;
        border: none;
        border-radius: 0px;
        background-color: white;
    }
    input {
        width: 100%;
    }
    label {
        margin-left: 0px;
    }
    .signupBtnTag:hover {
        color: var(--brand-color);
    }
    .header a {
        color: inherit;
        text-decoration: none;
        height: 100%;
        display: flex;
        align-items: center;
        padding: .25rem;
        justify-content: center;
    
    }
    .centreLogo {
        margin-bottom: 0;
    }
    div.newRequestForm {
        width: 95%;
        margin: 0 auto;
    }
    h2.newRequestTitle {
        margin-left: 8px;
    }


}



