* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

.header {
    background-color: white;
    color: #8A2BE2;
    display: flex;
    /* justify-content: space-between; */
    padding: 0 1rem;
    align-items: stretch;
    gap: 2rem;
    height: 70px;
    border-bottom: 2px solid rgb(210, 210, 210);
}
#mobNavLinks {
    font-size: larger;
}

.logo {
    font-size: 1rem;
    display: flex;
    align-items: center;
}

.header ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    gap: 1rem;
}

.header a {
    color: inherit;
    text-decoration: none;
    height: 100%;
    display: flex;
    align-items: center;
    padding: .25rem;
    justify-content: center;
    
}
a {
    text-decoration: none;
    color: white;
}
a:hover {
    color: black;
}
button {
    border-radius: 12px;
    width: 300px;
    background-color: #8A2BE2;
    border: none;
    color: white;
    cursor: pointer;
    display: flex;
    justify-content: center;
}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    gap: 1rem;
}
.NavBar {
    display: flex;
    align-items: center;
    margin: 0 auto;
}

#mobButton {
    display: none;
}

#deskButton {
    background-color: #8A2BE2;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    /* display: inline-block;
    font-size: 10px; */
    height: 30px;
    width: 200px;
    border-radius: 12px;
    cursor: pointer;
    /* position: absolute; */
    right: 0;
    display: flex;
    margin: auto 0;
    justify-content: center;

}
.MobileNavigation {
    display: none;
}
/* My Requests */
h2 {
    text-align: center;
    margin-top: 15px;
}
#group-requests {
    display: flex;
    justify-content: center;
}
#single-request {
    margin: 0 auto;
    border: 1px solid rgb(210, 210, 210);
}
li a {
    color: #8A2BE2;
}
.NavButtons {
    margin: auto 0;
}

@media (max-width: 1000px){
    .Navigation {
        display: none;
    }
    .MobileNavigation {
        display: flex;
    }
    #mobButton {
        display: flex;
        border-radius: 70%;
        background-color: #8A2BE2;
        color: white;
        border: none;
        padding: 5px;
        font-size: 31px;
        height: 40px;
        width: 40px;
        /* box-shadow: 0 2px 4px darkslategray; */
        cursor: pointer;
        transition: all 0.2s ease;
        justify-content: center;
        /* margin-top: 1.25%; */
        align-items: center;
    }
    #deskButton {
        display: none;
        
    }
    .MobileNavigation .Hamburger {
        position: absolute;
        left: 5%;
        cursor: pointer;
        top: 1.25%;
        /* margin-top: 20px; */
    }

    #mobNavLinks {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 70px;
        left: 0;
        width: 100%;
        background-color: #8A2BE2;
        /* border-top: 2px solid black; */
        align-items: flex-start;

    }
    .nav ul li {
        padding-right: 15%;
        color: white;
    }
    li {
        color: white;
        padding-left: 5%;

    }
    .NavBar {
        opacity: 1;
    }

    .NavBar a:hover {
        border-bottom: none;
        color: black;
    }
    .logo {
        /* position: absolute;
        left: 40%; */
        width: fit-content;
        margin: auto;
    }
    .header {
        background-color: white;
        color: #8A2BE2;
        display: flex;
        /* justify-content: space-between; */
        padding: 0 1rem;
        align-items: center;
        gap: 0;
        height: 70px;
        /* width: 100%; */
    }
    a {
        color: #8A2BE2;
    }
    button {
        border-radius: 12px;
        width: 90%;
        background-color: #8A2BE2;
        border: none;
        color: white;
        cursor: pointer;
        display: flex;
        justify-content: center;
        margin: 0 auto;
    }
    /* My Requests */
    h2 {
        text-align: left;
        margin-top: 15px;
        margin-left: 20px;
    }
    #group-requests {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    #single-request {
        margin: 0 auto;
        margin-bottom: 10px;
        border: 1px solid rgb(210, 210, 210);
        width: 90%;
    }
    .request-offerToggle {
        display: flex;
        margin-bottom: 15px;
    }
    .logoLink {
        display: block;
    }
    .toggle {
        color: black;
    }
    .titleDate {
        display: flex;
        justify-content: space-between;
    }

}
  
  

